.LoginPage {
  min-height: 84vh;

  padding: 50px;
  background-image: url(./Imagenes/Escuela_Superior_de_Computo.jpg);
  background-size: cover;

  .LoginPageForm {
    width: 500px;
    margin: auto;
    align-content: center;
  }
}
