<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionsServlet</servlet-name>
        <servlet-class>questions.QuestionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestion</servlet-name>
        <servlet-class>questions.CreateQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModPreg</servlet-name>
        <servlet-class>questions.ServletModPreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarPreg</servlet-name>
        <servlet-class>questions.BorrarPreg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionsServlet</servlet-name>
        <url-pattern>/QuestionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestion</servlet-name>
        <url-pattern>/CreateQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModPreg</servlet-name>
        <url-pattern>/ServletModPreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarPreg</servlet-name>
        <url-pattern>/BorrarPreg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
