<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionsServlet</servlet-name>
        <servlet-class>questions.QuestionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestion</servlet-name>
        <servlet-class>questions.CreateQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModPreg</servlet-name>
        <servlet-class>questions.ServletModPreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarPreg</servlet-name>
        <servlet-class>questions.BorrarPreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrarExamen</servlet-name>
        <servlet-class>exams.ServletBorrarExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamServlet</servlet-name>
        <servlet-class>exams.ExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModExam</servlet-name>
        <servlet-class>exams.ServletModExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateExam</servlet-name>
        <servlet-class>exams.CreateExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateHotSpotQuestion</servlet-name>
        <servlet-class>questions.CreateHotSpotQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFilesDD</servlet-name>
        <servlet-class>files.ManageFilesDD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFilesHS</servlet-name>
        <servlet-class>files.ManageFilesHS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModPregHot</servlet-name>
        <servlet-class>questions.ServletModPregHot</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionsServlet</servlet-name>
        <url-pattern>/QuestionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestion</servlet-name>
        <url-pattern>/CreateQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModPreg</servlet-name>
        <url-pattern>/ServletModPreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarPreg</servlet-name>
        <url-pattern>/BorrarPreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrarExamen</servlet-name>
        <url-pattern>/ServletBorrarExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamServlet</servlet-name>
        <url-pattern>/ExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModExam</servlet-name>
        <url-pattern>/ServletModExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateExam</servlet-name>
        <url-pattern>/CreateExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateHotSpotQuestion</servlet-name>
        <url-pattern>/CreateHotSpotQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFilesDD</servlet-name>
        <url-pattern>/ManageFilesDD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFilesHS</servlet-name>
        <url-pattern>/ManageFilesHS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModPregHot</servlet-name>
        <url-pattern>/ServletModPregHot</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
