.Form {
  font-size: 20px;
  font-family: fantasy;
  padding: 0px;
  min-height: 500px;
  min-width: 200px;
  border-radius: 20px;
  max-width: 450px;
  max-height: 1000px;
  text-align: center;
  margin: auto;
  background-image: url(./Imagenes/Hoja_Libreta2.jpg);
  background-size: cover;
  font-family: cursive;

  .FormTitle {
    color: rgb(87, 169, 216);

    position: relative;
    top: 20px;
  }
  .FormUsername {
    color: black;
    list-style: none;
    position: relative;
    top: 93px;
    input {
      border-radius: 20px;
      text-align: center;
      border: none;
      background: transparent;
    }
  }
  .FormPassword {
    color: black;
    list-style: none;
    position: relative;
    top: 198px;
    input {
      border: none;
      background: transparent;
      border-radius: 20px;
      text-align: center;
    }
  }
  .FormButton {
    list-style: none;
    position: relative;
    left: -10px;
    top: 320px;
    input {
      cursor: pointer;
    }
  }
}
