.LoginPage {
  border: 2px solid blue;
  align-content: center;
  text-align: center;
  align-items: center;
  padding: 50px;
  background-image: url(./Imagenes/Escuela_Superior_de_Computo.jpg);
  background-size: cover;

  .LoginPageForm {
    align-self: auto;
    border: 1px dotted black;
    align-content: center;
  }
}
