#Reder-ReactComponent-Questions {
  background-color: rgb(248, 248, 248);
  min-height: 93vh;
}
#Reder-ReactComponent-Questions h1 {
  position: relative;
  left: 5%;
}
#QuestionsArea {
  color: black;
}
#QuestionsArea {
  overflow-y: scroll;
  background-color: aliceblue;
  min-height: 10rem;
  max-height: 38rem;
  margin: 0% 5% 0% 5%;
  border: 2px solid black;
  padding: 0px 0px 0px 70px;
}

#QuestionsArea table,
#QuestionsArea th,
#QuestionsArea tr,
#QuestionsArea td {
  border: 1px solid black;
  min-width: 600px;
}
#CreateNewElem {
  position: relative;
  min-width: 15%;
  left: 80%;
  bottom: 20px;
  box-shadow: none;
  background-color: lightblue;
}
#QuestionsArea th {
  background-color: lightblue;
  text-align: center;
}
#QuestionsArea h2 {
  text-align: center;
}

#Mod {
  color: yellowgreen;
}
#Del {
  color: red;
}

.td {
  text-align: center;
}

.td-id {
  width: 2%;
}

.td-actions {
  width: 28%;
}

.td-name {
  width: 70%;
}

.btn-cool {
  width: 33%;
}

table {
  word-wrap: break-word;
}

.size70 {
  width: 70%;
}
.centrala2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coloriwis {
  background-color: #213123;
}
.cabiarPreguntaForm {
  position: relative;
}
.cancelarModPre {
  color: red;
  position: relative;
}

.BorrarPopUp {
  min-width: 500px;
  max-width: 600px;
  min-height: 200px;
  max-height: 300px;
  background-color: white;
  position: absolute;
  top: 15%;
  left: 37%;
  border: 1px solid black;
  text-align: center;
  padding: 5%;
}
